{% extends 'base.html' %}
{% load static %}




{% block ui %}
<section class="hero-wrap hero-wrap-2"
	style="background-image: url('https://images.pexels.com/photos/256490/pexels-photo-256490.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
				<h2 class="mb-2 bread">BOSHQARMA</h2>
				<p class="breadcrumbs"><span class="mr-2"><a href="{{ home }}">Bosh sahifa<i
								class="ion-ios-arrow-forward"></i></a></span> <span>Murojatlar<i
							class="ion-ios-arrow-forward"></i></span></p>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section testimony-section">
	<div class="container">
		<div class="wrapper" style='box-shadow:none;'>
			<div class="row no-gutters">
				<div class="col-md-7 d-flex align-items-stretch">
					<div class="contact-wrap w-100 p-md-5 p-4">
						<h3 class="mb-4">Murojat Uchun</h3>
						<div id="form-message-warning" class="mb-4"></div>
						<div id="form-message-success" class="mb-4">
							Talab yoki taklifingizni yuborishingiz mumkun !
						</div>
						<form method="POST" id="contactForm" name="contactForm" novalidate="novalidate">{% csrf_token %}
							<div class="row ftco-animate">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" required class="form-control" name="name" id="name"
											placeholder="Isim">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="number" required class="form-control" name="phone" id="phone"
											placeholder="Telfon Raqam">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" required class="form-control" name="subject" id="subject"
											placeholder="Mavzu">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="message" required class="form-control" id="message" cols="30" rows="7"
											placeholder="Murojat Matni"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<button id="contact" type='button' class="btn btn-primary" >Yuborish</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-5 d-flex align-items-stretch">
					<div class="info-wrap bg-primary w-100 p-lg-5 p-4">
						<h3 class="mb-4 mt-md-4" style="color: aliceblue; text-align: center;">Biz bilan bog`lanish
						</h3>
						<div class="col-md d-flex ftco-animate topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									style="color: aliceblue;" class="icon-paper-plane"></span></div>
							<div class="text" style="color: aliceblue;">
								<span style="color: aliceblue;">Telegram:</span>
								<span>youremail@email.com</span>
							</div>
						</div>
						<div class="col-md d-flex ftco-animate topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									style="color: aliceblue;" class="fa-solid fa-envelope"></span></div>
							<div class="text" style="color: aliceblue;">
								<span style="color: aliceblue;">Email:</span>
								<span>youremail@email.com</span>
							</div>
						</div>
						<div class="col-md d-flex ftco-animate topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									style="color: aliceblue;" class="fa-solid fa-map-location"></span></div>
							<div class="text" style="color: aliceblue;">
								<span style="color: aliceblue;">Manzil:</span>
								<span>Toshkent shahri, Mustaqillik ko‘chasi, 69-uy</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>
				<h4 class="modal-title w-100">Yuborildi</h4>
			</div>
			<div class="modal-body">
				<p class="text-center">Arizangiz qabul qilindi !!</p>
			</div>
			<div class="modal-footer">
				<button type="submit" data-dismiss="modal" class="btn btn-success btn-block">OK</button>
			</div>
		</div>
	</div>
</div>
<style>
	.modal-confirm {
		color: #636363;
		width: 325px;
		font-size: 14px;
	}

	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
	}

	.modal-confirm .modal-header {
		border-bottom: none;
		position: relative;
	}

	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -15px;
	}

	.modal-confirm .form-control,
	.modal-confirm .btn {
		min-height: 40px;
		border-radius: 3px;
	}

	.modal-confirm .close {
		position: absolute;
		top: -5px;
		right: -5px;
	}

	.modal-confirm .modal-footer {
		border: none;
		text-align: center;
		border-radius: 5px;
		font-size: 13px;
	}

	.modal-confirm .icon-box {
		color: #fff;
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -70px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #82ce34;
		padding: 15px;
		text-align: center;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}

	.modal-confirm .icon-box i {
		font-size: 58px;
		position: relative;
		top: 3px;
	}

	.modal-confirm.modal-dialog {
		margin-top: 80px;
	}

	.modal-confirm .btn {
		color: #fff;
		border-radius: 4px;
		background: #82ce34;
		text-decoration: none;
		transition: all 0.4s;
		line-height: normal;
		border: none;
	}

	.modal-confirm .btn:hover,
	.modal-confirm .btn:focus {
		background: #6fb32b;
		outline: none;
	}

	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}
</style>
{% endblock ui %}