{% extends 'base.html' %}
{% load static %}


{% block ui %}

<section id="home-slider" class="home-slider owl-carousel d-none d-md-block"
	style="height:69vh; border-bottom: solid 4px #e8e8e873;">
	<div class="slider-item" style="background-image:url({% static 'images/banner.jpg' %}); height: 69vh;">
	</div>
    <!--<div class="slider-item"
	style="background-image:url({% static 'images/uA8kpZure0-07-06.jpg' %}); height: 69vh;"> -->
	</div>
</section>

<section class="ftco-section bg-white p-3 p-md-5 p-lg-7" >
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-5 order-md-last wrap-about align-items-stretch">
				<div class="wrap-about-border ftco-animate">
					<div class="img"
						style="background-image: url({% static 'images/qctgrQ15913589328678_b.jpg' %});"></div>
					<div class="text">
						<h3>Maktab uz</h3>
						<p>
							1-11-sinflar uchun eng yirik umumtaʼlim onlayn maktabi hamda maktab oʻquv dasturi
							boʻyicha videodarslar va boshqa materiallar platformasi.

						</p>
						<p><a href="https://maktab.uz/" class="btn btn-primary py-3 px-4">Batafsil</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-7 wrap-about pr-md-4 ftco-animate">
				<h2 class="mb-4">Agar siz maktabga bora olmasangiz, maktab sizning uyingizga kelishi mumkin.</h2>
				<p>Maktab.uz - bu xalqaro standartlarga javob beradigan va maktab o'quvchilari uchun yuqori sifatli
					uzluksiz masofaviy ta'limni ta'minlaydigan ilg'or raqamli ta'lim texnologiyasi. Platforma
					o'qituvchilarga ham, ota -onalarga ham o'quvchilarning rivojlanish darajasini kuzatish va
					mavzular mazmuni bilan tanishish uchun keng imkoniyatlar beradi.</p>
				<div class="row mt-5">
					<div class="col-lg-6">
						<div class="services active text-center">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span
									class="flaticon-collaboration"></span></div>
							<div class="text media-body">
								<!-- <h3>Qulay</h3> -->
								<p>Materiallaridan ota-onalari foydalana oladilar</p>
							</div>
						</div>
						<div class="services text-center">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span
									class="flaticon-analysis"></span></div>
							<div class="text media-body">
								<!-- <h3>Platforma</h3> -->
								<p>Maktab.uz – bu masofaviy ta’limning to‘laqonli ekotizimidir</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services text-center">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span
									class="flaticon-search-engine"></span></div>
							<div class="text media-body">
								<!-- <h3>Platforma</h3> -->
								<p>Doimiy ravishda to‘ldirilib va yangilanib boriladi</p>
							</div>
						</div>
						<div class="services text-center">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span
									class="flaticon-handshake"></span></div>
							<div class="text media-body">
								<!-- <h3>Capital Market</h3> -->
								<p>Ba’zilar uchun ushbu platforma repetitorning o‘rnini bosadi</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url({% static 'images/image-1.jpg' %});">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
				<h2 class="mb-0">Tuman Maktabgacha va Maktab Ta’limi Bo‘limi</h2>
			</div>
		</div>
	</div>
</section>

<section class="ftco-counter" id="section-counter" style="width: 100%;">
	<div class="container">
		<div class="row d-md-flex align-items-center justify-content-center">
			<div class="wrapper">
				<div class="row d-md-flex align-items-center">
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="{{ statest.schools }}">0</strong>
								<span>Maktablar</span>
							</div>
						</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="{{ statest.techers }}">0</strong>
								<span>O'qituvchi</span>
							</div>
						</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="{{ statest.student }}">0</strong>
								<span>O'quvchilar</span>
							</div>
						</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="{{ statest.educati }}">0</strong>
								<span>Maktabgacha T.T</span>
							</div>
						</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="{{ statest.techedu }}">0</strong>
								<span>Tarbiyachilar</span>
							</div>
						</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="{{ statest.chiledu }}">0</strong>
								<span>Tarbiyalanuvchilar</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb"
	style="padding-top:0px;background-image: url({% static 'images/schoolbanner.jpg' %});"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-md-6 py-5 px-md-5">

				<div class="tabs">
					<input class="input" name="tabs" type="radio" id="tab-1" checked="checked" />
					<label class="label" for="tab-1">Maktablar</label>
					<form class="panel ftco-animate" >
						<select class="form-control select2 select-school" style='width:99%;'>

							{% for list in school %}
							<option value="{{ list.id }}">&nbsp;&nbsp;{{ list.title }} - maktab</option>
							{% endfor %}

						</select>
						<div class="form-group py-2">
							<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
							<button id="send-selected1" type="button" class="btn btn-primary rounded-0">Ko`rish</button>
						</div>
					</form>
					<input class="input" name="tabs" type="radio" id="tab-2" />
					<label class="label" for="tab-2">Davlat Maktabgacha Ta’lim Tashkeloti</label>
					<form class="panel ftco-animate">
						<select class="form-control select2 select-slevel" style='width:99%;'>
							{% for list in slevel %}
							<option value="{{ list.id }}">&nbsp;&nbsp;{{ list.title }} - maktab</option>
							{% endfor %}
						</select>
						<div class="form-group py-2">
							<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
							<button id="send-selected2" type="button" class="btn btn-primary rounded-0">Ko`rish</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6 py-5 px-md-5">
				<table class="table table-bordered" id='table' style="desplay:none">
					<thead>
						<tr class='ftco-animate' style='color:#fff'>
							<th id='th1'></th>
							<th id='th2'></th>
							<th id='th3'></th>
						</tr>
					</thead>
					<tbody id="table-body" style='color:#fff'>
						<!-- AJAX orqali ma'lumotlar shu yerga qo'shiladi -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section bg-white" style="padding-top:50px;padding-bottom:0px;">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
				<h2 class="mb-4"><span>So'ngi</span> Yangiliklar</h2>
				<p>Yashnobod tuman maktabgacha va maktab ta’limi bo‘limi oxirgi yangilik va elonlari</p>
			</div>
		</div>
		<div class="row">

			{% for list in new %}
			<div class="col-md-6 col-lg-4 ftco-animate">
				<div class="blog-entry">
					<a href="{% url 'newdet' list.id %}" class="block-20 d-flex align-items-end"
						style="background-image: url('{{ list.image.url }}');">
						<div class="meta-date text-center p-2">
							<span class="day">{{ list.published_date|date:"d" }}</span>
							<span class="mos">{{ list.published_date|date:"F" }}</span>
							<span class="yr">{{ list.published_date|date:"Y" }}</span>
						</div>
					</a>
					<div class="text bg-white p-4">
						<h4 class="heading"><a href="{% url 'newdet' list.id %}">{{ list.title|slice:":60" }}</a></h4>
								<div class="d-flex align-items-center mt-4">
									<p class="mb-0"><a href="{% url 'newdet' list.id %}"
											class="btn btn-primary">Batafsil <span
												class="ion-ios-arrow-round-forward"></span></a></p>
									<p class="ml-auto mb-0">
										<a class="mr-2">Admin</a>
										<a href="#" class="meta-chat"><span class="icon-chat"></span></a>
									</p>
								</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>

<section class="ftco-section testimony-section" style="padding-top:50px;padding-bottom:0px;">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2 ftco-animate">
			<div class="col-md-8 text-center heading-section ftco-animate">
				<h2 class="mb-4"><span>Murojat</span> Uchun</h2>
				<p>Yashnobod tuman maktabgacha va maktab ta’limi bo‘limi uchun murojatlar yuborishingiz mumkun</p>
			</div>
		</div>
		<div class="wrapper" style='box-shadow:none;'>
			<div class="row no-gutters">
				<div class="col-md-7 d-flex align-items-stretch">
					<div class="contact-wrap w-100 p-md-5 p-4">
						<h3 class="mb-4">Murojat</h3>
						<div id="form-message-warning" class="mb-4"></div>
						<div id="form-message-success" class="mb-4">
							Talab yoki taklifingizni yuborishingiz mumkun !
						</div>
						<form method="POST" id="contactForm" name="contactForm" novalidate="novalidate">
							<div class="row ftco-animate">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" name="name" id="name"
											placeholder="Isim">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="number" class="form-control" name="phone" id="phone"
											placeholder="Telfon Raqam">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" name="subject" id="subject"
											placeholder="Mavzu">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="message" class="form-control" id="message" cols="30" rows="7"
											placeholder="Murojat Matni"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Yuborish" class="btn btn-primary">
										<div class="submitting"></div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-5 d-flex align-items-stretch">
					<div class="info-wrap bg-primary w-100 p-lg-5 p-4">
						<h3 class="mb-4 mt-md-4" style="color: aliceblue; text-align: center;">Biz bilan bog`lanish
						</h3>
						<div class="col-md d-flex ftco-animate topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									style="color: aliceblue;" class="icon-paper-plane"></span></div>
							<div class="text" style="color: aliceblue;">
								<span style="color: aliceblue;">Telegram:</span>
								<span>youremail@email.com</span>
							</div>
						</div>
						<div class="col-md d-flex ftco-animate topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									style="color: aliceblue;" class="fa-solid fa-envelope"></span></div>
							<div class="text" style="color: aliceblue;">
								<span style="color: aliceblue;">Email:</span>
								<span>youremail@email.com</span>
							</div>
						</div>
						<div class="col-md d-flex ftco-animate topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									style="color: aliceblue;" class="fa-solid fa-map-location"></span></div>
							<div class="text" style="color: aliceblue;">
								<span style="color: aliceblue;">Manzil:</span>
								<span>Toshkent shahri, Mustaqillik ko‘chasi, 69-uy</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section testimony-section" style="padding-top:70px;padding-bottom:10px;">
	<div class="container">
		<div class="row justify-content-center mb-2 pb-1">
			<div class="col-md-8 text-center heading-section ftco-animate">
				<h2 class="mb-4"><span>Foydali</span> Xavolalar</h2>
				<p>Sizga kerakli davlat tashkelot yoki bo`limlari rasmiy websiti uchun xavolalar.</p>
			</div>
		</div>
		<div class="row ftco-animate justify-content-center" style="padding-top:0px;">
			<div class="col-md-12">
				<div class="carousel-testimony owl-carousel">
					<div class="item">
						<div class="testimony-wrap">
							<div class="user-container">
								<a href="">
									<div class="user-img"
										style="background-image: url({% static 'link/Emblem_of_Uzbekistan.svg.png' %})">
									</div>
									<span style="color: black;" class="position">O‘zbekiston Respublikasi Oliy
										ta’lim, fan va innovatsiyalar vazirligi</span>
								</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap">
							<div class="user-container">
								<a href="">
									<div class="user-img"
										style="background-image: url({% static 'link/images.jpg' %})"></div>
									<span style="color: black;" class="position">O‘zbekiston Respublikasi
										Maktabgacha ta'lim <br> agentligi</span>
								</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap">
							<div class="user-container">
								<a href="">
									<div class="user-img"
										style="background-image: url({% static 'link/lex-uz-logo.png' %})">
									</div>
									<span style="color: black;" class="position"> O‘zbekiston Respublikasi Qonun
										hujjatlari ma’lumotlari Milliy bazasi </span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock ui %}