{% extends 'base.html' %}
{% load static %}

{% block ui %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('https://images.pexels.com/photos/256490/pexels-photo-256490.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
          <h2 class="mb-2 bread">BOSHQARMA</h2>
          <p class="breadcrumbs"><span class="mr-2"><a href="{{ home }}">Bosh sahifa<i class="ion-ios-arrow-forward"></i></a></span> <span>Rahbariyat Haqida<i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>
<section class="ftco-section p-3 p-md-5 p-lg-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate fadeInUp ftco-animated">
         {% for person in list %}
            <div class="about-author d-flex flex-row flex-wrap align-items-center p-2 bg-light" style="margin-bottom:1px;">
                <div class="d-flex align-items-center justify-content-center" style="flex: 0 0 auto;">
                    <img style="width:150px;" src="{{ person.image.url }}" alt="Image placeholder" class="img-fluid px-2">
                </div>
                <div class="desc d-flex flex-column" style="flex: 1 1 auto; padding-left: 15px;">
                    <h6>{{ person.full_name }}</h6>
                    <p>Lavozim: {{ person.department }}</p>
                    <p>Telefon Raqam: {{ person.phone }}</p>
                    <p>Qabul Vaqti: {{ person.acceptance }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

            <div class="col-lg-4 sidebar ftco-animate fadeInUp ftco-animated">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon icon-search"></span>
                            <input type="text" class="form-control" placeholder="Qidirish">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                    <h3>So'ngi Yangiliklar</h3>
                    
                    {% for list in new %}
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" href="{% url 'newdet' list.id %}" style="background-image: url({{ list.image.url }});"></a>
                        <div class="text">
                            <h3 class="heading"><a href="{% url 'newdet' list.id %}">{{ list.title|slice:":55" }}</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> {{ list.published_date }}</a></div>
                                <div><a href="#"><span class="icon-person"></span>Admin</a></div>
                                {% comment %} <div><a href="#"><span class="icon-chat"></span> 19</a></div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock ui %}