<script>
  $(document).ready(function () {
    $('.select2').select2();
    $('#table').hide();
    $('#send-selected1').on('click', function () {
      let school = $('.select-school').val()
      let csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
      $.ajax({
        url: '{% url "homeselekt" %}',
        type: 'POST',
        data: {
          'school': school,
          'csrfmiddlewaretoken': csrftoken
        },
        success: function (response) {
          $('#table-body').empty();
          if (response) {
            $('#table').show();
            $('#th1').text(" Maktab (ta) ");
            $('#th2').text(" O`qituvchilar (ta) ");
            $('#th3').text(' O`quvchilar (ta) ');
          }
          let row = '<tr>' +
            '<td>' + response.title + '</td>' +
            '<td>' + response.number_pt + '</td>' +
            '<td>' + response.number_s + '</td>' +
            '</tr>';
          $('#table-body').append(row);
        },
        error: function (xhr, status, error) {
          console.error('Xato:', error);
        }
      });
    });
    $('#send-selected2').on('click', function () {
      let slevel = $('.select-slevel').val()
      let csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
      $.ajax({
        url: '{% url "homeselekt" %}',
        type: 'POST',
        data: {
          'slevel': slevel,
          'csrfmiddlewaretoken': csrftoken
        },
        success: function (response) {
          if (response) {
            $('#table').show();
            $('#th1').text(" D.M.T.M (ta) ");
            $('#th2').text(" Tarbiyachilar (ta) ");
            $('#th3').text(' Tarbiyalanuvchilar (ta) ');
          }
          $('#table-body').empty();
          let row = '<tr>' +
            '<td>' + response.title + '</td>' +
            '<td>' + response.number_ep + '</td>' +
            '<td>' + response.number_ch + '</td>' +
            '</tr>';
          $('#table-body').append(row);
        },
        error: function (xhr, status, error) {
          console.log('Xato:', error);
        }
      });
    });
  });

// #contact

  $('#contact').on('click', function () {
            let name = $('#name').val();
            let subject = $('#subject').val();
            let phone = $('#phone').val();
            let message = $('#message').val();
            let csrftoken = $('input[name="csrfmiddlewaretoken"]').val();

            // Xatolik xabarlarini yashirish
            $('.error-message').hide();

            let hasError = false;

            // Formadagi har bir maydonni tekshirish
            if (!name) {
                $('#name-error').show();
                hasError = true;
            }
            if (!subject) {
                $('#subject-error').show();
                hasError = true;
            }
            if (!phone) {
                $('#phone-error').show();
                hasError = true;
            }
            if (!message) {
                $('#message-error').show();
                hasError = true;
            }

            // Agar xatolik bo'lsa, so'rov yuborilmaydi
            if (hasError) {
                return;
            }

            $.ajax({
                url: '{% url "contactmessage" %}',
                type: 'POST',
                data: {
                    'name': name,
                    'subject': subject,
                    'phone': phone,
                    'message': message,
                    'csrfmiddlewaretoken': csrftoken
                },
                success: function (response) {
                  $('#myModal').modal('show');
                    // Formani tozalash
                    $('#contactForm')[0].reset();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again.');
                }
            });
        });
</script>